<%- include('../partials/header') %>

<section class="library" id="library">
<h1 class="heading">My Library</h1>

</section>


<% books.forEach(function (book) { %>

  <img src="<%= book.image %>" alt="">
  <p><%= book.title %></p>
  <p><%= book.description %></p>

  <form action="/books/library/<%= book._id %>?_method=DELETE" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Remove</button>
  </form>

  <a href="/books/<%= book._id %>">Test</a>

<% }) %>

<%- include('../partials/footer') %>
