<%- include('../partials/header') %>
<section class="show">
<h2>Book Details</h2><br>
<tbody>
    <%= book.title %><br><br>
    <%= book.authors %><br><br>
    <%= book.description %><br><br>
    <%= book.categories %><br>
    <% if (book.image) { %>
      <br><img src="<%= book.image %>" alt="">
    <% } %>
</tbody>

<div class="rating">
<form action="/books/<%= book._id %>/reviews" method="POST">
  <h2>Reviews</h2>
  <div class="input-box">
    <input type="text" name="content" placeholder="Tell us what you think?..."
    required>
    </div><br>
    <br><br><label>&nbsp;&nbsp;Rating:</label>
    <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select><br><br><br>
  <button type="submit" class="submit">Add Review</button>
</form>
</div>

<% if (book.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Content</th>
        <th>Stars</th>
      </tr>
    </thead>

    <tbody>
      <% book.reviews.forEach(function(r) { %>
        <tr>
          <td><img src="<%= r.userAvatar %>" alt="avatar" class="avatar" referrerpolicy="no-referrer"><br>&nbsp;&nbsp;<%= r.userName %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
        </tr>
      </tbody>
    </table>
    
    <% if (user && r.user.equals(user._id)) { %>
    <button class="submit"><a href="/books/<%= book._id %>/reviews/<%= r._id %>/edit">Edit</a></button>
   <% } %>
    
    <form action="/books/<%= book._id %>/reviews/<%= r._id %>?_method=DELETE" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button class="submit" type="submit">Remove</button>
    </form>

<% }); %>
    
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
</section>
<%- include('../partials/footer') %>